.layout {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  max-width: 110rem;
  margin: 0 auto;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.layout__header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.layout__header a {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout__header a .MuiSvgIcon-root {
  font-size: 4rem;
  margin-left: 0.5rem;
}

.layout__theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color-secondary);
  cursor: pointer;
}

.layout__theme button {
  border: none;
  color: var(--text-color-secondary);
  font-size: inherit;
  font-family: inherit;
  margin-right: 0.5rem;
  background-color: transparent;
  outline: 0;
}

.layout__theme .MuiSvgIcon-root {
  font-size: 2rem;
}

.layout__footer {
  text-align: center;
}
