@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
  --text-color: #124a63;
  --text-color-secondary: #6e7d85;

  --primary-color: #21b6b7;

  --background-color: #f9f9f9;
  --background-color-dark: #eef3f6;
  --background-color-light: white;

  --font-family: 'Poppins', sans-serif;
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  --border-style: 1.5px solid lightblue;
}

[data-theme='dark'] {
  --text-color: #f0f0f0;
  --text-color-secondary: #b3c5cd;

  --primary-color: #21b6b7;

  --background-color: #252329;
  --background-color-dark: #3c393f;
  --background-color-light: #120f13;

  --box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  --border-style: 1.5px solid gray;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}
